---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/HeroSection.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen">
		<div class="h-3/25">
			<Navbar/>
		</div>
		<div class="h-22/25">
			<Hero/>
		</div>
	</main>
</Layout>