---
export interface Props {
	name: string,
	image: string,
	alt: string,
	protien: number,
	fat: number,
	carbs: number,
	calories: number,
	price: number
}

const { } = Astro.props;
---

<div class="max-w-sm w-96 h-[349px] rounded-lg overflow-hidden shadow-lg">
	<div class="w-full h-[268px] relative">
		<img class="object-cover relative" src="/assets/food.jpg" alt="food">
		<div class="absolute bottom-6 left-0 space-y-1">
			<div class="bg-white rounded-tr-md rounded-br-md w-20 h-8 font-Rob font-medium text-sm leading-4 text-center py-2">49g P</div>
			<div class="bg-white rounded-tr-md rounded-br-md w-20 h-8 font-Rob font-medium text-sm leading-4 text-center py-2">49g P</div>
			<div class="bg-white rounded-tr-md rounded-br-md w-20 h-8 font-Rob font-medium text-sm leading-4 text-center py-2">49g P</div>
			<div class="bg-white rounded-tr-md rounded-br-md w-20 h-8 font-Rob font-medium text-sm leading-4 text-center py-2">49g P</div>
		</div>
	</div>
	<div class="px-6 pt-4 pb-2 flex justify-between">
		<div>
			<div class="font-questrial font-normal text-xl">Chicken & Rice</div>
			<button class="bg-accent px-4 py-1 text-center rounded-md font-medium text-xs">Popular</button>
		</div>
		<div class="font-Rob font-medium text-xl">Br.250</div>
	</div>
</div>