---
import "@fontsource/questrial";
import "@fontsource/roboto";
---

<section class="bg-background">
    <div class="md:p-20 p-2 py-10 flex flex-col items-center justify-center space-y-6">
        <p class="font-questrial font-normal pb-6 md:text-4xl text-[32px] leading-[51px]">You can contact us</p>
        <div class="flex flex-col justify-center items-center md:flex md:flex-row md:items-start md:justify-start md:space-x-6">
            <div class="flex flex-col space-y-2">
                <div class="uppercase text-center font-questrial text-xl font-normal leading-[28px]">Give us a call on</div>
                <div class="w-80 h-32 bg-white rounded-lg">
                    <div class="flex items-center justify-center space-x-6 w-full h-full">
                        <img src="assets/call.png" />
                        <div class="font-questrial font-normal text-xl leading-[28px] ">
                            <div>0967187469</div>
                            <div>0927351054</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-2">
                <div class="uppercase text-center font-questrial font-normal text-xl leading-[28px]">Follow us on</div>
                <div class="w-80 h-32 bg-white rounded-lg">
                    <div class="flex items-center uppercase font-questrial text-xs leading-4 text-center w-full h-full justify-center space-x-4">
                        <div class="space-y-2">
                            <img src="assets/Tg.png"/>
                            <div>Telegram</div>
                        </div>
                        <div class="space-y-2">
                            <img src="assets/Fb.png"/>
                            <div>Facebook</div>
                        </div>
                        <div class="space-y-2">
                            <img src="assets/Ig.png"/>
                            <div>Instagram</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>