---
export interface Props {}
import "@fontsource/roboto";
const { } = Astro.props;
---

<section class="bg-background">
    <div class="p-4 space-y-2">
        <div class="bg-[#E5E5E5] w-full h-[1px]"></div>
        <div class="flex justify-end font-Rob text-sm font-extralight">All Rights Reserved <span class="font-Rob font-normal px-1"> Merkeb Fitness </span> 2023</div>
    </div>
</section>