---
export interface Props {}
import "@fontsource/roboto";
const {  } = Astro.props;
---

<nav class="pl-[20px] pr-[162px]">
	<ul class="flex justify-between py-7 w-full bg-primary">
        <li>
            <img src="/assets/merkeb-fitness-logo.svg" alt="Merkeb Fitness Logo" />
        </li>
        <li class="flex space-x-[25px] font-Rob font-extralight">
            <div>Menu</div>
            <div>Contact</div>
        </li>
    </ul>
</nav>