---
export interface Props {}
import "@fontsource/roboto";
const { } = Astro.props;
---

<nav class="pl-[100px] pr-[162px] h-full flex items-center bg-primary shadow-2xl shadow-gray-200 ">
	<ul class="flex justify-between w-full ">
        <li>
            <a href="/"><img src="/assets/merkeb-fitness-logo.svg" alt="Merkeb Fitness Logo" /></a>
        </li>
        <li class="flex space-x-[25px] font-Rob font-medium text-base">
            <a href="/menu">Menu</a>
            <a href="/#">Contact</a>
        </li>
    </ul>
</nav>