---
export interface Props {}
import "@fontsource/roboto";
const { } = Astro.props;
---

<nav class="pl-[100px] pr-[162px] h-full flex items-center bg-primary shadow-2xl shadow-gray-200 ">
	<ul class="flex justify-between w-full ">
        <li>
            <img src="/assets/merkeb-fitness-logo.svg" alt="Merkeb Fitness Logo" />
        </li>
        <li class="flex space-x-[25px] font-Rob font-medium text-base">
            <div>Menu</div>
            <div>Contact</div>
        </li>
    </ul>
</nav>