---
import "@fontsource/questrial";
import "@fontsource/roboto";
---
<section class="bg-background">
    <div class="py-20 md:px-20 px-0">
        <p class="flex items-center justify-center font-questrial font-normal md:text-[40px] text-[32px] leading-[56px]">How it works</p>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-6 md:px-24 px-5 py-8">
            <div class="bg-primary relative flex flex-col justify-center items-center space-y-10 md:w-[461px] w-[360px] h-[385px] md:h-[365px] rounded-xl">
                <p class="font-questrial font-normal text-2xl leading-8">On-demand</p>
                <p class="md:max-w-xs max-w-[284px] text-center font-Rob font-light text-lg leading-5">You just call and order the meals you want and we’ll cook and deliver it to you</p>
                <a href="/menu"><button class="bg-accent w-52 h-14 rounded-lg font-Rob font-semibold text-lg leading-5">See our menu</button></a>
                <div class="absolute left-6 -top-6 bottom-0 w-1 bg-[#00D8B1]"></div>
            </div>
            <div class="bg-primary relative flex flex-col justify-center items-center space-y-10 md:w-[461px] w-[388px] h-[385px] md:h-[365px] rounded-xl">
                <p class="font-questrial font-normal text-2xl leading-8">Weekly Subscribtion</p>
                <p class="max-w-xs text-center font-Rob font-light text-lg leading-5">You can subscribe on a weekly basis by choosing a minimum of 6 meals per week to a maximum of 15 meals.</p>
                <a href="/menu"><button class="bg-accent w-52 h-14 rounded-lg font-Rob font-semibold text-lg leading-5">See our menu</button></a>
                <div class="absolute left-6 -top-6 bottom-0 w-1 bg-[#FF7A13]"></div>
            </div>
        </div>
    </div>
</section>